body
{
    background-color: rgb(1, 1, 56);
    color: aliceblue;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    
    

}

nav
{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 2, 47);
    width: 100%;
}
nav ul{
    display: flex;
    

}
 li{
    list-style: none;
    margin: 18px;
    justify-content: space-around;
   
  
}
nav ul li a{
    color: aliceblue;
    display: inline-block;
}
.logo
{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    
}


.btn
{
    background-color: rgb(1, 1, 56);
    color: aliceblue;
   border-color: #a34cf5;
}
nav ul li a:hover{
    color: rgb(162, 74, 244);
    font-size: 1.1rem;
}
.left
{
    font-size: 35px;
}
.right
{
    scroll-behavior: smooth;
}


.s1
{
    justify-content: space-around;
    display: flex;
    position:relative;
     top: 100px;
     width: 100%;
     height: 500px;
     
}
img{
    position: relative;
    top: 60px;
    margin-top: 30px;
}
.leftsection
{
    width: 30%;
    font-size: 2rem;
    margin-top: 70px;
    text-align: center;
    min-width:50%;
    position: relative;
    top: 25px;
}


.rightsection
{
   margin-top: 30px;
   min-width: 50%;
   text-align: center;
   
   
   
}
.rightsection>img{
    width:200px;
    height: 200px;
    border-radius: 30px;
}

.color
{
    color: rgb(156, 67, 239);
}
.line
{
    position: relative;
    top: 230px;
}
.head
{
   text-align: center;
   width: 100%;
   display: inline;
}


@media(max-width:500px)
{
    .header
    {
        background-color: rgb(2, 2, 47);
    }
    .s1{
        display: inline-block;
        
    
    
    }
    .leftsection
    {
        width: 100%;
        justify-content: space-around;
       margin-top: 0;
       position: relative;
       top: 100px;
    }
    .rightsection
    {
        width: 100%;
        justify-content: center;
    
        
    }
    nav  {
       display: inline;
      
    }
   .left{
    text-align: center;
   }

   .heading
   {
 margin-top: 150px;
   
   }
   .secondsection
   {
    position: absolute;
    top: 100px;
   }
   

  
}
.heading
{
    color: rgb(172, 97, 242);
    position: relative;
    top:90px;
    text-align: center;
    font-size: 2rem;
}
.secondsection{
    position: relative;
    top: 150px; 
    width: 100%;
    height: 500px;
    text-align: center;
    font-size: 1.5rem;
}
#message
{
    margin-top: 10px;
    width: 250px;
    height: 50px;
}
label{
    text-align: center;
}
