body{
  margin: 0%;
}
.root
{
    width: 100%;
    height: auto;
    background-color:rgb(1, 1, 56);
    
}
.nav{
    display: flex;
    background-color:rgb(1, 1, 47);
    position: fixed;
    z-index: 3;
    width: 100%;
    color: aliceblue;
}
.name
{
    width: 50%;
    padding-left: 80px;
}
.option
{
    width: 60%;
}
.option>ul{
    display: flex;
    justify-content: space-around;
    
}
.option>ul>li
{
    width: 100px;
    list-style: none;
    margin: 0px 10px 0px 0px;  
}
.option>ul>li>a{
    color: aliceblue;
}
.option>ul>li>a:hover{
    color: blueviolet;
}
.content{
    width: 100%;
    height: 100vh;
    position: relative;

}
.heading
{
    position: relative;
    top: 100px;
    color: blueviolet;
    text-align: center;
}
span{
    color: blueviolet;
}
.home
{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.matter
{
    position:relative;
    top: 200px;
   
}
.mat
{
    width: 40%;
    height: 300px;
}
img
{
    width: 200px;
    height: 200px;
    border-radius: 30px;

}
.font
{
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
}
.about
{
    position:relative;
    top: 200px;
   text-align: center;
    width: 100%;
    height: 60vh;
    color: aliceblue;
    margin: 0%;
    align-items: center;


}

  .about>p{
    padding: 0% 30px;
    font-size: 1.3rem;
  }
  form{
    position: relative;
    top: 200px;
    width: 100%;
    text-align: center;
  }
  form>input{
    margin: 10px;
  }

  .container
  {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 380px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15%,1fr));
    align-items: center;
    column-gap: 30px;
  }
  .box{
    
    width: 30px;
    height: 30px;
    border: 2px solid whitesmoke;
    
  }
    

@media(max-width:500px)
{
    .nav{
        flex-direction: column;
    }
    .name{
        width: 100%;
        padding-left: 0%;
      text-align: center;
     
      }
    .option{
        width: 100%;
        justify-content: space-between;
    }
    .heading{
        position: relative;
        top: 130px;
    }
    .content
    {
        flex-direction: column;
        width: 100%;
        
        align-items:center; 
    }
    .project
{
height: auto;
}
    
    .matter{
        height: auto;
        top: 100px;
        
        
    }
    .home{
        height: 80vh;
    }
    img{
     width: auto;
     position: relative;
      }
   .about{
    min-width: 300px;
    
   }
   
    
}
@media(maxwidth:200px)
{
     .about{
        width: 200px;
        height: 400px;
     }
}
